<h1>Dashboard</h1>
<h6>The dashboard is intended to show you a summary of activities in the system and also quick tips and info in the movies industry</h6>
<div>
    <table class="myTable">
        <tr>
            <td rowspan="3" valign="bottom" class="MoviePoster">Movie Poster</td>
            <td>Most Rented Movies</td>
            <td>Top 5 Classic Movies</td>
        </tr>
        <tr>

            <td>Top 5 Clients</td>
            <td>Top 5 Actors</td>
        </tr>
        <tr>

            <td>Most Recent Movies</td>
            <td>Upcoming Movies</td>
        </tr>
    </table>

</div>